$small: .95rem;

h1 {
  font-size: 3rem;
  a {
    color: $vivid-vermillion;
  }
  margin-bottom: 0;
  letter-spacing: .1em;
}

h2 {
  margin-top: 0;
  font-size: $small;
  color: $pale-silver;
  letter-spacing: normal;
}
